*{
	padding: 0px; margin: 0px;
	font-size: 14px Arial;
}

#header{
	position: fixed;
	top: 0px; 
	left: 0px;
	width: 100%;
	background-color: #B7D8F6;
	padding: 10px;
	font-family: MV Boli;
	font-weight: bold;
	z-index: 2;
}

#title{
	font-size: 28px;
	color: #993300;
	width: 70px;
}

#contentWrapper{
	height: 200px;
	width: 400px;
	margin: 70px auto;
	position: relative;
}

input{
	padding: 3px;
}